* {
    box-sizing: border-box;
}

p {
    border: solid 2px;
    padding: 100px;
    text-align: center;
    background-color: bisque;
}

button {
    margin:10px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.voz {
background-color: rgb(122, 158, 213);
}

.paisaje {
background-color: rgb(127, 198, 127);
}

.music {
background-color: rgb(222, 166, 62);
}

.inicio {
  text-align: center;
  font-size: large;
}