/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*reset end*/

:root {
  --bckgrnd-clr: #98aa9d;
  --primary-clr: #222E2F;
  --secondary-clr: #F2EFE2;
  --labels-bg-clr: #B3C9D6;
}

html {
  box-sizing: border-box;
  font-size: clamp(1rem, 1vw, 2rem);
  background-color: var(--bckgrnd-clr);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  max-inline-size: 77ch;
  line-height: 1.65;
}

#inicio {
  color: var(--primary-clr);
}

#inicio:hover {
  color: var(--secondary-clr);
  font-weight: 550;
}

ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--secondary-clr);
}

.newsBtn,
.formBtn {
  background-color: #697C70;
}

.newsBtn a:hover {
  color: var(--primary-clr);
  font-weight: 550;
}

h1, h2, h3 {
  color: var(--primary-clr);
  padding: 5px 20px 5px 20px;
}

p {
  color: var(--primary-clr);
  margin: 2% 0 2% 0;
  padding: 0 20px 5px 20px;
}

.cartel {
  background-color: var(--labels-bg-clr);
  padding: 20px;
  max-inline-size: 69ch;
}

/*pages*/

.video {
    border: none;
    padding: 10rem;
    text-align: center;
    background-color: var(--labels-bg-clr);
    border-radius: 1rem;
    margin: 1rem;
}

.musica,
.paisaje,
.voz {
    margin:0.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.2rem;
}

.voice,
.ambient,
.music {
  background-color: #B3C9D6;
  border-radius: 1rem;
  margin: 1rem;
  padding-bottom: 1rem;
}

.nameTag {
  background-color: #8BAEC3;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

#volume-voice,
#volume-ambient,
#volume-music {
  font-size: 0.5rem;
  writing-mode: vertical-lr;
  direction: rtl;
}

.voz {
background-color: rgb(122, 158, 213);
color:rgb(19, 56, 111);
}

.voz:hover {
outline: 2px solid rgb(122, 158, 213);
}

.paisaje {
background-color: rgb(127, 198, 127);
color: rgb(27, 90, 27);
}

.paisaje:hover {
  outline: 2px solid rgb(127, 198, 127);
}

.musica {
background-color: rgb(222, 166, 62);
color: rgb(132, 87, 3);
}

.musica:hover {
  outline: 2px solid rgb(222, 166, 62);
}

/*pages*/

/*form style*/

form {
  display: inline-block;
  padding: 1em;
  min-width: 700px;
  background-color: var(--labels-bg-clr);
}

legend {
  font-size: larger;
}

fieldset {
  border: none;
  padding: 1em;
}

#name,
#mail,
#message {
  display: inline-block;
  min-width: 400px;
  text-align: left;
}

input, 
textarea,
.formBtn {
  margin: 1%;
  border: none;
  min-height: 2em;
}

#name:focus,
#mail:focus,
#message:focus,
textarea:focus {
  outline: 1px solid var(--primary-clr);
}

textarea {
  vertical-align: top;
  height: 10em;
  width: 98%;
  resize: none;
}

.formBtn {
  padding: 0.2em 0.4em;
  color: var(--secondary-clr);
  border: none;
}

.formBtn:hover {
  background-color: var(--primary-clr);
  outline: 1px solid var(--primary-clr);
}

/*form style end*/

/*footer*/

footer {
  height: 100px;
  background-color: var(--primary-clr);
  margin-top: 4%;
}